* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

header {
    padding-bottom: 5px;
    width: 100%;
    border-radius: 0 0 20px 20px;
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.1),
        0 2px 2px rgba(0, 0, 0, 0.15),
        0 4px 4px rgba(0, 0, 0, 0.06),
        0 8px 8px rgba(0, 0, 0, 0.04),
        0 16px 16px rgba(0, 0, 0, 0.02);
}

.container-header {
    margin: 15px 30px 30px 30px;
}

.img-iconAlerta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;


    & img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
    }

    & ion-icon {
        font-size: 40px;
        color: #004A8D;
    }
}

.user {
    font-weight: 900;
}

.boasVindas {
    margin-left: 11rem;
    margin-top: 15px;
    color: #263375;
    font-weight: 700;
    font-size: 1.1em;
}

.boasVindas h2 {
    font-weight: 300;
}

.gridlocais {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3vw;
    margin-bottom: 13vw;
}

main {
    margin: 30vw 4vw;
}

.btnlocal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 20vw;
    width: 20vw;
    border-radius: 30%;
    border: 1px solid rgba(238, 148, 51, 1);
}

.btnlocal:hover {
    background-color: rgba(38, 51, 117, 1);
}

.icon {
    font-size: 10vw;
    color: rgba(238, 148, 51, 1);
}

/*.icon:hover {
    color: #ffffff;
}*/

label {
    font-size: 4vw;
    color: rgba(238, 148, 51, 1);
    /*margin-top: 5px;*/
}

.tempExterna {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 60vw;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px 5px #263375;
    margin-left: 6rem;

}

.tempExterna .valor {
    color: #263375;
    font-size: 20vw;
    font-style: normal;
    font-weight: 500;
    line-height: 4vw;
}

.data {
    display: flex;
    justify-content: space-around;
    margin-top: 15vw;
    margin-bottom: 20vw;
}

.data .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 36vw;
    height: 30vw;
    border-radius: 20px;
    background-color: #263375;
    color: #ffffff;
    font-size: 15vw;
    cursor: pointer;
}

.data .item .icone1 {
    font-size: 9vw;
    position: relative;
    top: 5.5rem;
    right: 4.5rem;
    color: rgba(255, 70, 70, 1);
}

.data .item .icone2 {
    font-size: 9vw;
    position: relative;
    top: 5.5rem;
    right: 5rem;
    color: rgba(85, 158, 254, 1);
}

.data .item .value {
    font-size: 6vw;
    font-weight: 400;
    position: relative;
    bottom: 0;
    left: 0.5rem;
}

.data .item p {
    position: relative;
    bottom: 2.5rem;
    font-size: 5vw;
    left: 0.4rem;
}

.data .item sup {
    font-size: 3rem;
    position: relative;
    bottom: 5rem;
    left: 5.5rem;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.itens-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.itens-nav ion-icon {
    font-size: 24px;
    color: #0a3d7d;
    cursor: pointer;
}

.ligar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    margin: 0 10px;
}

.ligar .power {
    font-size: 35px;
    color: #0a3d7d;
    position: relative;
    bottom: 10px;
}

@media screen and (max-width: 699px) {

    .user {
        margin-left: 2rem;
        font-size: 5vw;
    }

    .boasVindas {
        margin-left: 3rem;
    }

    .gridlocais {

        margin-bottom: 6vw;
    }

    main {
        margin: 20vw 4vw;
    }

    .btnlocal {
        height: 19vw;
        width: 19vw;
    }

    .tempExterna {
        margin-left: 3.2rem;

    }

    .data {
        margin-top: 10vw;
        margin-bottom: 13vw;
    }

    .data .item .icone1 {
        top: 3.5rem;
        right: 3rem;
    }

    .data .item .icone2 {
        top: 3.5rem;
        right: 3rem;
    }

    .data .item p {
        bottom: 1rem;
        left: 0;
    }

    .data .item sup {
        font-size: 1.6rem;
        bottom: 3rem;
        left: 3.2rem;
    }

    nav {
        height: 40px;   
    }


    .ligar {
        width: 85px;
        height: 85px;
    }

}